// ROOTS
:root {
    --white: #ffffff;
    --grey: #e8e8e8;
    --blue: #5474fd;
    --darkgrey: #333333;
    --footergrey: #232323;
}


// FONTS
$josef: 'Josefin Sans', sans-serif;
$aleo: 'Aleo', serif;